html, body {
  overflow-x: hidden;
  height: 100%;
}

body.fade-in {
  opacity: 0;
  animation: fadeUp 0.5s ease forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

// Nueva clase para remover el transform después de la animación
body.animation-complete {
  transform: none !important;
}
